sudo: false
language: node_js
node_js:
  - '8'
  - '6'

script:
  - npm test

notifications:
  slack:
    secure: fWJv1V1JODlYlks81m6qXJyaXQqOXYZDgrP886T7Gayjb2grexBgZqOo5uGi3/VbL79ruB3m1T82l2ynSIFPP4KyYUtstX+UASrcl/WQo/OWed4HX9SuzzcKckDXbbdnvUSwWU0e3zw+u9hMCgcHV6AKT3a1j3aY7aaLgP0zlC+mLs0aPhvgvBdhVDba9YAsawj45SS5uJLPnytS6NIg6Vh9dUQungjtCDInbmEeSWoi9XciSvT1dRd6M8LdB4OXCttpPEvBCHDJ1I4Wo2SDcLK+ibjDmA11AEYeYLxVCZb6VKqd0rDGCO8r98HEXGehT/lEqs21u7qaVnaCohtg2Nbp7Udmn9Dgz1Xiw5Sb/WojS4cetvvS9NP7xj926UAi7l+fvoKjR9xUsVDa3JHefmPgpfxwqlJJ3NJeA+brNEJPJB2S5/yyw5Tsr4mQlB9tGsYGRJOyHfuKVRlW0dl015NNpxWkvkmSGaXS2spg5fYQc9a3N+Yrj5BU3iLHmhxzSX4Jr3R8/OCsce/vheVBeaGNlgHDAeEWQmDrzc1tOiEGo0gVFkgtqEnHEaT6FMSuzyjP5S8lLQul6fW6pKJ5cUzrfrr3rpw365urYluhyF0ZXlUMn6ymY9FibEgUMqb0lCpNU3i1XZdkqHfmHDF4LGgu2QHn5p4kMgvmYri7SNI=
